*.mp4
Touchdesigner/MAIN/TDMovieOut.0.mov
*.mov
*.webm
*.asd
*.wav
*.aiff
Touchdesigner/SECONDAIRE/SpectoCadresSecondaires/Log/OrbbecSDK.log.1.txt
Touchdesigner/SECONDAIRE/SpectoCadresSecondaires/Log/OrbbecSDK.log.2.txt
Touchdesigner/SECONDAIRE/SpectoCadresSecondaires/Log/OrbbecSDK.log.3.txt
